<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Shrugle</string>
	<string>Why</string>
	<string>Rage</string>
	<string>Skeptic</string>
	<string>Happy</string>
	<string>Stressed</string>
	<string>Excited</string>
	<string>Pleased</string>
	<string>Win</string>
	<string>Parts</string>
</array>
</plist>
