<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zdios03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F066EB91DCB34FD00FF537F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F066ECD1DCB34FD00FF537F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F066ED81DCB34FD00FF537F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
