<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Часто используемые</string>
	<string>Растерянность</string>
	<string>Почему?</string>
	<string>Япость</string>
	<string>Скептик</string>
	<string>Счастье</string>
	<string>Стресс</string>
	<string>Взволнован</string>
	<string>Доволен</string>
	<string>Победа!</string>
	<string>Части тел</string>
</array>
</plist>
