<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>╰</string>
		<string>╯</string>
		<string>ヽ</string>
		<string>ﾉ</string>
		<string>ノ</string>
		<string>∩</string>
		<string>੧</string>
		<string>੭</string>
		<string>⋋</string>
		<string>⋌</string>
		<string>ლ</string>
		<string>⊃</string>
		<string>つ</string>
		<string>ᕙ</string>
		<string>ᕗ</string>
		<string>ᕕ</string>
		<string>୧</string>
		<string>୨</string>
		<string>┌</string>
		<string>┐</string>
		<string>└</string>
		<string>┘</string>
		<string>٩</string>
		<string>و</string>
		<string>ʋ</string>
		<string>ง</string>
		<string>凸</string>
		<string>ᕦ</string>
		<string>ᕤ</string>
		<string>へ</string>
		<string>ᓄ</string>
		<string>¯\_</string>
		<string>_/¯</string>
		<string>╚═</string>
		<string>═╝</string>
		<string>〜</string>
		<string>╮</string>
		<string>乁</string>
		<string>ㄏ</string>
		<string>ԅ</string>
		<string>o͡͡͡╮</string>
		<string>╭o͡͡͡</string>
	</array>
	<array>
		<string>(</string>
		<string>)</string>
		<string>[</string>
		<string>]</string>
		<string>༼</string>
		<string>༽</string>
		<string>ʕ</string>
		<string>ʔ</string>
		<string>໒(</string>
		<string>)७</string>
		<string>|</string>
		<string>⁞</string>
		<string>།</string>
		<string>〳</string>
		<string>〵</string>
		<string>╏</string>
		<string>║</string>
		<string>▐</string>
		<string>░</string>
		<string>▒</string>
	</array>
	<array>
		<string>•̀</string>
		<string>•́</string>
		<string>⊹</string>
		<string>￣</string>
		<string>ݓ</string>
		<string>✖</string>
		<string>･</string>
		<string>՞</string>
		<string>﹒</string>
		<string>﹒︣</string>
		<string>︣</string>
		<string>⌣</string>
		<string>⁰</string>
		<string>❛</string>
		<string>¯͒</string>
		<string>¯</string>
		<string>͒</string>
		<string>´</string>
		<string>`</string>
		<string>ཀ</string>
		<string>༎ຶ</string>
		<string>ຈ</string>
		<string>O</string>
		<string>͡</string>
		<string>-</string>
		<string>͠°</string>
		<string>°͠</string>
		<string>⇀</string>
		<string>↼</string>
		<string>ಥ</string>
		<string>͝°</string>
		<string>°</string>
		<string>ಠ</string>
		<string>ಠೃ</string>
		<string>ರ</string>
		<string>ರೃ</string>
		<string>◕</string>
		<string>˙</string>
		<string>◔</string>
		<string>͡°</string>
		<string>□</string>
		<string>⌐</string>
		<string>▀</string>
		<string>◉</string>
		<string>‾́</string>
		<string>-</string>
		<string>◐</string>
		<string>◑</string>
		<string>◖</string>
		<string>◗</string>
		<string>ヘ</string>
		<string>¬</string>
		<string>≖</string>
		<string>̿̿</string>
		<string>̿</string>
		<string>･ิ</string>
		<string>ิ</string>
		<string>ʘ̆</string>
		<string>ʘ</string>
		<string>☉</string>
		<string>;</string>
		<string>͡■</string>
		<string>■͡</string>
		<string>͡°</string>
		<string>°͡</string>
		<string>͡ຈ</string>
		<string>ຈ͡</string>
		<string>ຈ</string>
		<string>͡◕</string>
		<string>◕͡</string>
		<string>͡</string>
		<string>º</string>
		<string>͡;</string>
		<string>͡☉</string>
		<string>°</string>
		<string>͜ಠ</string>
		<string>͡ʘ</string>
		<string>͡’</string>
		<string>•</string>
		<string>^</string>
		<string>◕</string>
		<string>▀̿</string>
		<string>ʘ͡</string>
		<string>–</string>
		<string>❛</string>
		<string>x</string>
		<string>ᴼ</string>
		<string>＾</string>
		<string>˘</string>
		<string>۞</string>
		<string>◯</string>
		<string>๑</string>
		<string>͡ᵔ</string>
		<string>͒</string>
		<string>σ</string>
		<string>✪</string>
		<string>❛ั</string>
		<string>☉</string>
		<string>͠ຈ</string>
		<string>╥</string>
		<string>ᵒ̌</string>
		<string>ಡ</string>
		<string>͡°̲</string>
		<string>ᵕ</string>
		<string>ି</string>
		<string>ୖ</string>
		<string>ଵ</string>
		<string>்</string>
		<string>౦</string>
		<string>್</string>
		<string>ര</string>
		<string>ි</string>
		<string>ᓀ</string>
		<string>ᓂ</string>
		<string>⊡</string>
		<string>⊘</string>
		<string>⊗</string>
		<string>¤</string>
	</array>
	<array>
		<string>_</string>
		<string>ਊ</string>
		<string>︿</string>
		<string>o</string>
		<string>〜</string>
		<string>〰</string>
		<string>∧</string>
		<string>۝</string>
		<string>ڡ</string>
		<string>ʖ</string>
		<string>͜ʖ</string>
		<string>ل͜</string>
		<string>-</string>
		<string>‸</string>
		<string>⌂</string>
		<string>ل͟</string>
		<string>﹏</string>
		<string>益</string>
		<string>‿</string>
		<string>o</string>
		<string>ʖ̯</string>
		<string>Ĺ̯</string>
		<string>͜ʟ</string>
		<string>ᗜ</string>
		<string>ᴥ</string>
		<string>ل</string>
		<string>ω</string>
		<string>◞౪◟</string>
		<string>౪</string>
		<string>‸</string>
		<string>෴</string>
		<string>﹏ु</string>
		<string>_ʖ</string>
		<string>-</string>
		<string>ر͜</string>
		<string>ں</string>
		<string>┓ل͜┏</string>
		<string>ヮ</string>
		<string>͜ ʖ</string>
		<string>Ĺ̯</string>
		<string>▽</string>
		<string>▃</string>
		<string>౪</string>
		<string>ₒ</string>
		<string>_̀</string>
		<string>ε</string>
		<string>~͜ʖ~</string>
		<string>◡</string>
		<string>3</string>
		<string>_ʖ</string>
		<string>͟ʖ</string>
		<string>ڡ</string>
		<string>◯</string>
		<string>ʖ̫</string>
		<string>╭ ͟ʖ╮</string>
		<string>╭͜ʖ╮</string>
		<string>͟ل͜</string>
		<string>۝</string>
		<string>~</string>
		<string>͜ʖ</string>
		<string>▾</string>
	</array>
	<array>
		<string>.</string>
		<string>✿</string>
		<string>˵</string>
		<string>,</string>
		<string>*</string>
		<string>”</string>
		<string>=</string>
		<string>~</string>
		<string>∗</string>
		<string>:</string>
	</array>
</array>
</plist>
