<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>¯\_(ツ)_/¯</string>
		<string>╰( . •́ ͜ʖ •̀ . )╯</string>
		<string>╰| ՞ Ĺ̯ ՞ |╯</string>
	</array>
	<array>
		<string>(▀̿̿Ĺ̯̿̿▀̿ ̿)</string>
		<string>ლ༼ ▀̿ Ĺ̯ ▀̿ ლ༽</string>
		<string>༼▃ Ĺ̯ ▃༽</string>
		<string>ʕ﹒︣ ᴥ﹒︣ʔ</string>
		<string>┌༼▀̿ Ĺ̯▀̿༽┐</string>
	</array>
	<array>
		<string>(ノಠ益ಠ)ノ</string>
		<string>╰(ಥдಥ)ノ</string>
		<string>ʕ ᓀᴥᓂʔ</string>
		<string>ᕙ(◉෴◉)ᕗ</string>
		<string>୧ʕ ⇀ ⌂ ↼ ʔ୨</string>
		<string>ᕕ(˵•̀෴•́˵)ᕗ</string>
		<string>ヽ(ಠ▃ಠ)ﾉ</string>
		<string>(ง •̀_•́)ง</string>
		<string>ᕙ(ಥ益ಥ‶)ノ</string>
		<string>╰(⇀‸↼)╯</string>
		<string>ᕙ( ຈ ▃ ຈ )ᕗ</string>
		<string>╰[✖Ĺ̯ಠ]╯</string>
		<string>(╬ ಠ益ಠ)</string>
		<string>o͡͡͡╮| ͠° ▃ °͠ |╭o͡͡͡</string>
	</array>
	<array>
		<string>║ ಡ ͜ ʖ ಡ ║</string>
		<string>ʕ⊙ᴥ⊙ʔ</string>
		<string>(⊹◕ʖ̯◕)</string>
		<string>┌[ O ʖ̯ O ]┐</string>
		<string>ʕ·͡ᴥ·ʔ</string>
		<string>ಠل͟ಠ</string>
		<string>( ◕ ʖ̯ ◕ )</string>
		<string>ʕ ಡ ﹏ಡʔ</string>
		<string>( ⊙ ʖ̯ ⊙ )</string>
		<string>(ಥ_ʖಥ)</string>
		<string>ಠ_ಠ</string>
		<string>ʕ◉ᴥ◉ʔ</string>
	</array>
	<array>
		<string>╰། ◉ ◯ ◉ །╯</string>
		<string>(ﾉ◕ヮ◕)ﾉ</string>
		<string>₍₍ ᕕ༼.◕ヮ◕.༽ᕗ⁾⁾</string>
		<string>╰໒( ි ▾ ි )७╯</string>
		<string>ᕕ( ՞ ᗜ ՞ )ᕗ</string>
		<string>[ ⇀ ‿ ↼ ]</string>
		<string>◉‿◉</string>
		<string>┌[ ◔ ͜ ʖ ◔ ]┐</string>
		<string>(°ヮ°)╯</string>
		<string>٩ʕ◕౪◕ʔو</string>
	</array>
	<array>
		<string>┐༼◉ل͟◉༽┌</string>
		<string>(ʘᗩʘ’)</string>
		<string>ᕕ| ◉ ͟ʖ ◉ |و</string>
		<string>ʕ ͠° ʖ̫ °͠ ʔ</string>
		<string>(=ಠ ل͟ ಠ=)</string>
		<string>ヽ༼, ͡X ͜ʖ ͡X,༽ﾉ</string>
		<string>(╭ರ_⊙)</string>
		<string>ᕙ༼ ◉_◔༽ᕗ</string>
		<string>ʕ╭ರᴥ•́ʔ</string>
	</array>
	<array>
		<string>ヽ༼ಢ_ಢ༽ﾉ</string>
		<string>◐‸◐</string>
		<string>ԅ༼ ◕ ۝ ◕: ༽╯</string>
		<string>ᕕ( ཀ ʖ̯ ཀ)ᕗ</string>
		<string>ᕙ( ͡° ͜ʖ ͡°)ᕗ</string>
		<string>ԅ[ * ༎ຶ _ ༎ຶ * ]┐</string>
		<string>ᕙ(▀̿̿Ĺ̯̿̿▀̿ ̿) ᕗ</string>
		<string>໒( ⊙ – ⊙ , )७</string>
		<string>( ´_ゝ`)</string>
	</array>
	<array>
		<string>( ͡° ͜ʖ ͡°)</string>
		<string>┌( ͝° ͜ʖ͡°)ᕤ</string>
		<string>(~˘▾˘)~</string>
		<string>( ͡↑ ͜ʖ ͡↑)</string>
		<string>ԅ(ˆ⌣ˆԅ)</string>
		<string>ԅ༼ ◔ ڡ ◔ ༽ง</string>
		<string>(͡◔ ͜ʖ ͡◔)</string>
		<string>ԅ( ͒ ۝ ͒ )ᕤ</string>
		<string>(((༼•̫͡•༽)))</string>
		<string>(✿ヘᴥヘ)</string>
	</array>
	<array>
		<string>ᕙ(░ಥ╭͜ʖ╮ಥ)</string>
		<string>༼ ✖ ਊ ✖ ༽ᕤ</string>
		<string>ʕಠᴥಠʔᕗ</string>
		<string>ᕙ༼ಠ͜ʖಠ༽ノ</string>
		<string>ᕙ(˵ ಠ ਊ ಠ ˵)ᕗ</string>
		<string>(ง ͡ʘ ͜ʖ ͡ʘ)ง</string>
		<string>ʕง•ᴥ•ʔง</string>
		<string>(ง ͠° ͟ل͜ ͡°)ง</string>
		<string>(งಠ_ಠ)ง</string>
		<string>(ง’̀-‘́)ง</string>
	</array>
	<array>
		<string> (‿|‿)</string>
		<string>( . ( . )</string>
		<string>( *  )(  * )</string>
		<string>╭∩╮</string>
		<string>╰⋃╯</string>
		<string>╾━╤デ╦︻</string>
		<string>︻╦╤─</string>
		<string>ᒡ◯ᵔ◯ᒢ</string>
	</array>
</array>
</plist>
